@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pr-yellow-color: #ff9f0d;
  --background-dark-color: #0d0d0d;
  --white-color: #ffffff;
}

body {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: var(--background-dark-color);
}

.home-page {
  width: 100%;
  height: auto;
  color: var(--background-dark-color);
}

.hero-sec {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem 8rem;
}

.header-bg {
  width: 100%;
  height: auto;
  background-image: url(./images/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header .image {
  width: 150px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* border: 2px solid red; */
}

nav .link {
  color: white;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 200;
}

.search {
  /* border: 2px solid rgb(0, 183, 255); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}

.input-field {
  border: 1px solid var(--pr-yellow-color);
  padding: 1rem;
  border-radius: 50px;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-field input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.1rem;
}

.card-icon-white {
  font-size: 1.5rem;
  color: white;
}

.cart-icon-white {
  font-size: 1.5rem;
  color: white;
}

.inner-hero {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-text {
  width: 40%;
  /* border: 2px solid red; */
}

.hero-text h3 {
  color: var(--pr-yellow-color);
  font-size: 1.1rem;
}

.yellow {
  color: var(--pr-yellow-color);
}

.hero-text h1 {
  font-size: 4rem;
  font-weight: 800;
  color: var(--white-color);
  margin-bottom: 1rem;
}

.hero-text p {
  color: var(--white-color);
  margin-bottom: 1rem;
}

.hero-text button {
  background-color: var(--pr-yellow-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: 1.1rem;
}

.hero-image {
  width: 60%;
  height: 60vh;
  background-image: url(./images/dishes.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* border: 2px solid red; */
}

.about-us {
  width: 100%;
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 5rem;
}

.about-text {
  width: 60%;
  color: white;
}

.about-text h3 {
  color: var(--pr-yellow-color);
  font-size: 1.1rem;
}

.about-text h1 {
  font-size: 4rem;
  font-weight: 800;
  color: var(--white-color);
  margin-bottom: 1rem;
}

.about-text p {
  margin-bottom: 1rem;
}

.about-us button {
  background-color: var(--pr-yellow-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: 1.1rem;
}

.about-grid {
  width: 40%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}

.about-row-1 {
  width: 100%;
  height: 50%;
  background-image: url(./images/about1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.about-row-2 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.about-col-1 {
  width: 50%;
  height: 100%;
  background-image: url(./images/about2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.about-col-2 {
  width: 50%;
  height: 100%;
  background-image: url(./images/about3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.food-cate {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10rem;
}

.food-cate h3 {
  color: var(--pr-yellow-color);
  font-size: 1.1rem;
}

.food-cate h1 {
  font-size: 4rem;
  font-weight: 800;
  color: var(--white-color);
  margin-bottom: 1rem;
}

.category-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 22vh;
  gap: 20px;
}

.box-1 {
  width: 30%;
  height: inherit;
  border: 1px solid rgb(238, 255, 0);
  background-image: url(./images/category1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.box-2 {
  width: 30%;
  height: inherit;
  background-image: url(./images/category2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.box-3 {
  width: 30%;
  height: inherit;
  background-image: url(./images/category3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.box-4 {
  width: 30%;
  height: inherit;
  background-image: url(./images/category4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.why-choose {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50vh;

  margin-bottom: 5rem;
  gap: 20px;
}

.why-grid {
  width: 50%;
  height: inherit;
  background-image: url(./images/why-choose.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.why-choose-text {
  width: 50%;
  height: inherit;
}

.why-choose-text h3 {
  color: var(--pr-yellow-color);
  font-size: 1.1rem;
}

.why-choose-text h1 {
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--white-color);
  margin-bottom: 1rem;
}

.why-choose-text p {
  color: var(--white-color);
  margin-bottom: 1rem;
}

.why-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 80%;
  margin-bottom: 2rem;
  border-radius: 10px;
}

.why-icon {
  width: 100px;
}

.wcard-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--pr-yellow-color);
  padding: 1rem 2rem;
  border-radius: 10px;
  color: var(--white-color);
}

.wcard-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--pr-yellow-color);
  padding: 1rem 2rem;
  border-radius: 10px;
  color: var(--white-color);
}

.wcard-3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-color: var(--pr-yellow-color);
  padding: 1rem 2rem;
  border-radius: 10px;
  color: var(--white-color);
}

.why-exp-card {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: var(--white-color);
  border-left: 15px solid var(--pr-yellow-color);
  height: 9vh;
  font-weight: 800;
  border-radius: 10px;
}

.exp-head {
  font-size: 3rem;
  margin-left: 2rem;
  color: var(--pr-yellow-color);
}

.exp-text {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  color: var(--background-dark-color);
}

.exp-text span {
  font-size: 1.2rem;
  color: var(--background-dark-color);
}

.exp-text p {
  font-size: 1.8rem;
  color: var(--background-dark-color);
}

.feature {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 40vh;
  padding: 2rem 0px;
  background-image: url(./images/fea-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  gap: 30px;
  margin-bottom: 8rem;
}

.fea-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fea-icon {
  width: 100px;
}

.fea-h3 {
  margin-top: 1rem;
  color: var(--white-color);
  font-size: 1.2rem;
}

.fea-h2 {
  color: var(--white-color);
  font-size: 2.5rem;
  font-weight: 700;
}

.chef {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5rem;
}

.chef h3 {
  color: var(--pr-yellow-color);
  font-size: 1.1rem;
}

.chef h1 {
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--white-color);
  margin-bottom: 1rem;
}

.chef-cont {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.chef-card1 {
  width: 400px;
  height: 30vh;
  background-image: url(./images/chef1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: start;
}

.chef-card2 {
  width: 400px;
  height: 30vh;
  background-image: url(./images/chef2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: start;
}

.chef-card3 {
  width: 400px;
  height: 30vh;
  background-image: url(./images/chef3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: start;
}

.chef-card4 {
  width: 400px;
  height: 30vh;
  background-image: url(./images/chef4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: end;
  justify-content: start;
}

.chef-mini {
  width: 50%;
  background-color: var(--white-color);
  padding: 0.5rem 1rem;
}

.chef-button {
  margin-top: 2rem;
  border: 2px solid var(--pr-yellow-color);
  color: var(--white-color);
  padding: 1rem 2rem;
  border-radius: 50px;
  font-size: 1.2rem;
}

.chef-star {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.client-section {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid red; */
}

.text-al-lf {
  /* border:1px solid  red ; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 8rem;
}

.client-section h3 {
  color: var(--pr-yellow-color);
  font-size: 1.1rem;
}

.client-section h1 {
  font-size: 3.5rem;
  font-weight: 800;
  color: var(--white-color);
  margin-bottom: 1rem;
}

.client-card {
  width: 80%;
  height:auto;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
  position: relative;
}

.profile-avatar {
  /* border: 1px solid red; */
  background-image: url(./images/Ellipse.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -100px;
}

.quote {
  margin: 4rem 0px 1rem;
  width: 100px;
  height: 100px;
}

.inner-quote {
  background-image: url(./images/Quotes.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: inherit;
  /* border: 1px solid red; */
}

.client-card p {
  margin-bottom: 2rem;
  /* border: 1px solid red; */
}

.chef-star {
  font-size: 2rem;
}

.chef-star {
  margin-bottom: 1rem;
}

.full-star {
  color: var(--pr-yellow-color);
}

.light-star {
  color: #e0e0e0;
}

.client-name {
  color: #0d0d0d;
  font-size: 2rem;
  font-weight: 800;
}

.client-des {
  font-size: 1.2rem;
  color: #828282;
}

.client-circles {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 20px;
  /* border: 2px solid red; */
  height: auto;
  margin: 2rem 0px;
}

.com-cricle {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: var(--pr-yellow-color);
}

.hol-cricle {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: #ff9e0d55;
}
.res-process {
  background-image: url(./images/res-process.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10rem;
  padding: 0rem 2rem;
}

.res-text {
  width: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
  flex-direction: column;
  color: var(--white-color);
}

.res-text p {
  text-align: right;
}

.res-text h3 {
  color: var(--pr-yellow-color);
  font-size: 1.1rem;
}

.res-text h1 {
  font-size: 3rem;
  font-weight: 800;
  color: var(--white-color);
  margin-bottom: 1rem;
  text-align: right;
}

.res-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid red; */
  height: auto;
  gap: 20px;
  margin-top: 2rem;
}

.res-1 {
  border: 1px solid var(--pr-yellow-color);
  padding: 1rem 3rem;
  font-size: 1.2rem;
  border-radius: 50px;
}

.res-btn-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}

.res-play {
  font-size: 3rem;
  color: var(--pr-yellow-color);
}

.blog {
  width: 100%;
  height: 60vh;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 10rem;
}

.blog h3 {
  color: var(--pr-yellow-color);
  font-size: 1.1rem;
}

.blog h1 {
  font-size: 4rem;
  font-weight: 800;
  color: var(--white-color);
  margin-bottom: 1rem;
}

.blog-card-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  /* flex-wrap: wrap; */
}

.blog-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid var(--white-color);
  width: inherit;
  height: 45vh;
}

.blog-img {
  width: 100%;
  height: 60%;
  background-image: url(./images/burger.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-img-2 {
  width: 100%;
  height: 60%;
  background-image: url(./images/pizza.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-img-3 {
  width: 100%;
  height: 60%;
  background-image: url(./images/tacos.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-text-pad {
  padding: 2rem 1rem;
}

.blog-text-pad span {
  color: var(--pr-yellow-color);
  font-size: 1.1rem;
}

.blog-text-pad p {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--white-color);
  margin-bottom: 1rem;
}

.blog-card-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.blog-btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  gap: 10px;
}

.blog-icon-wh {
  color: var(--white-color);
}

.blog-icon-ye {
  color: var(--pr-yellow-color);
}

footer {
  width: 100%;
  height: auto;
  margin-bottom: 2rem;
}

.support {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
}

.sup-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.sup-text-inner {
  display: flex;
  align-items: end;
  justify-content: start;
  flex-direction: column;
}

.sup-text h2 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--white-color);
  margin-bottom: 1rem;
}

.sup-text p {
  font-size: 1rem;
  font-weight: 500;
  color: var(--white-color);
  margin-bottom: 1rem;
}

.sup-line {
  margin-top: 2.5rem;
  width: 100%;
  height: 2px;
  border-radius: 100px;
  background-color: var(--pr-yellow-color);
}

.lower-footer {
  background-color: #4f4f4f;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.l-f-text {
  color: var(--white-color);
}

.l-f-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.l-f-wh {
  color: var(--white-color);
  font-size: 3rem;
}

.sup-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sup-field input {
  color: white;
  background-color: var(--pr-yellow-color);
  padding: 1rem 2rem;
  border: none;
  outline: none;
}

.sup-field button {
  width: 100%;
  height: inherit;
  background-color: var(--white-color);
  border: none;
  outline: none;
  padding: 1rem 2rem;
  color: var(--pr-yellow-color);
  font-weight: 600;
}

.sup-field input::placeholder {
  color: var(--white-color);
}

.footer-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

.f-col-1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

  width: 30%;
}

.f-col-1 h2 {
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 800;
}

.f-col-1 p {
  color: var(--white-color);
}

.f-ab-card {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-ab-icon {
  color: var(--white-color);
  font-size: 3.5rem;
  padding: 1rem;
  background-color: var(--pr-yellow-color);
}

.f-ab-text {
  color: var(--white-color);
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  margin-left: 1rem;
}

.f-ab-text h4 {
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
}

.f-col-2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;

}

.f-col-2 h4 {
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 800;
}

.f-col-2 ul {
  color: var(--white-color);
}

.f-col-2 li {
  list-style: none;
  color: var(--white-color);
  padding: 0.5rem 0px;
}

.f-col-3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.f-col-3 h4 {
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 800;
}

.f-col-3 ul {
  color: var(--white-color);
}

.f-col-3 li {
  list-style: none;
  color: var(--white-color);
  padding: 0.5rem 0px;
}

.f-col-4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 22%;
  gap: 20px;
}

.f-col-4 h4 {
  color: var(--white-color);
  font-size: 2rem;
  font-weight: 800;
}

.f-card-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
}

.f-card-img {
  width: 50%;
  height: inherit;
  background-image: url(./images/Burger.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.f-card-img-2 {
  width: 50%;
  height: inherit;
  background-image: url(./images/pizza.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.f-card-img-3 {
  width: 50%;
  height: inherit;
  background-image: url(./images/tacos.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.f-card-text {
  margin-left: 1rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--white-color);
  flex-direction: column;
}

.f-card-text span {
  color: #828282;
}
